.place__paragraph {
  max-width: 484px;
  margin-top: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
}

.place__info > .place__paragraph:first-child {
  margin-bottom: 24px;
}
