.intro__text {
  max-width: 690px;
  margin-top: 0;
  margin-bottom: 32px;
  margin-left: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  display: block;
}

@media screen and (max-width: 1023px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__text {
    max-width: 288px;
  }
}
