.place {
  max-width: 984px;
  margin: 0 auto 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1279px) {
  .place {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    max-width: 720px;
    margin: 0 auto 72px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    max-width: 320px;
    margin: 0 auto 48px;
  }
}
